@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #render-target {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    @apply bg-gray-200;
}

nav a {
    @apply bg-white text-black px-3 py-1 border-b border-black font-bold;
}

nav a:first-child {
    @apply border-t border-black;
}

nav a:hover {
    @apply bg-blue-700 text-white;
}

#render-target {
    @apply flex flex-row;
}

.smallicon {
    width: 1.25rem;
    height: 1.25rem;
}